<nav>
    <ul>
        <li><a href="{{ path('main_home') }}">Home</a></li>
        <li><a href="{{ path('main_test') }}">Test</a></li>
        <li><a href="{{ path('series_list') }}">All series</a></li>
        {% if app.user %}
            <li><a href="{{ path('series_create') }}">Add series</a></li>
            <li><a href="{{ path('season_create') }}">Add a season</a></li>
            <li><a href="{{ path('app_logout') }}">Logout : {{ app.user.firstname }}</a></li>
{#            le lien n'est visible que des admins#}
            {% if is_granted('ROLE_ADMIN') %}
            <li><a href="{{ path('admin_dashboard') }}">Dashboard</a></li>
            {% endif %}
            {% else %}
                <li><a href="{{ path('app_login') }}">Sign in</a></li>
                <li><a href="{{ path('app_register') }}">Register</a></li>
        {% endif %}

    </ul>
</nav>